.heading{
    text-align: center;
    background-color: lightblue;
    height: 105px;
}
.px{
    padding-top: 30px;
    line-height: 0.28in;    
    font-family: Arial;
}
.about{
    font-size: 60px;
    padding: 0%;
    margin: 0%;
}
.link{
    font-family: Arial;

}

